* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
header {
    position: relative;
    height: 175px;
    font-size: 75px;
    font-weight: 200;
    text-align: center;
    background-color: black;
    color: aliceblue;
}

header img {
    position: absolute;
    width: 250px;
}

#parte1 {
    position: relative;
    height: 100vh;
    background-color: black;
    color: aliceblue;

}

#parte1 h2 {
    padding-top: 75px;
    font-size: 50px;
    text-align: center;
}
#parte1 p {
    padding-left: 5%;
    padding-top: 25px;
    font-size: 20px;
    text-align: justify;
    width: 60%;

}
#parte1 img {
    border: solid 2px rgb(143, 0, 0);
    position: absolute;
    width: 20%;
    bottom: 12.5%;
    left: 70%;
}

#parte2 {
    position: relative;
    height: 100vh;
    background-color: black;
    color: aliceblue;
}
#parte2 h2 {
    padding-top: 75px;
    font-size: 50px;
    text-align: center;
}
#parte2 p {
    margin-left: 35%;
    padding-top: 25px;
    font-size: 20px;
    text-align: justify;
    width: 60%;
}
#parte2 img {
    border: solid 2px rgb(143, 0, 0);
    position: absolute;
    width: 25%;
    bottom: 12.5%;
    right: 70%;
}

#parte3 {
    height: 100vh;
    background-color: black;
    color: aliceblue;
}
#parte3 h2 {
    padding-top: 75px;
    font-size: 50px;
    text-align: center;
}
.makes {
    position: relative;
    height: 60vh;
}
.makes #play1 {
    position: absolute;
    left: 52%;
    top: 15%;
}
.makes #play2 {
    position: absolute;
    right: 52%;
    top: 15%;
}

footer {
    height: 10vh;
    background-color: black;
    color: aliceblue;
    text-align: center;

}
footer p {
    font-size: 25px;
}
